<div class="container-fluid">
  <% if flash[:notice] %>
    <div class="flash-withdraw">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="welcom">
        <h1>余りがちな食材を救出！</h1>
        <h2>自炊しようと思って材料を買っても腐らせがちなあなたへ</h2>
        <p>
          いつも余ってしまう食材を調理しようと思っても、新たにレシピを調べたりするのは大変ですよね。</br>
          このサイトでは、余ってしまった食材を入力することで、なるべくその食材だけを使ったレシピを表示することができます。</br>
        　また、SNS相談では、料理に関する相談をすることが可能です。</br>
        　相談を投稿、それに対するコメントを投稿するには、会員登録が必要になります。
        </p>
      </div>
    </div>
  </div>
</div>
